$color_primary : #ea6b13;
$color_bg_dark : #152f4d;
$color_grey : #afafaf;
$color_yellow : #ffde00;
$color_green : #83d600;
$color_green_dark : #70b700;
$color_red : #e10000;
$text_blue : #007b9e;
$text_light_blue : #92d3df;
$color_activity : #94c7d8;
$color_news : #d894cc;
$color_exp : #82ea13;
$color_amulet : #eac913;